<div class="admin container">
  <div class="row">
    <div class="col-lg-15" style="margin: auto; width: 100%;">
      <br>
      <br>
      <div class="panel panel-primary panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title"><b>Bienvenido Admin!</b></h3>
            </div>
          </div>
        </div>
        <!-- 1024 × 683 -->
        <div style="max-height:683px; max-width: 1024px;margin-left: auto;margin-right: auto;">
          <img src="img/campus.jpg" style="width:100%;height:auto;"/>
        </div>
        <div style="margin-left: 4%">
          <h3>Descripci&oacute;n de Modulos</h3>
          <h4><u>Proyectos</u></h4>
          <p>Pantalla para la vista, creaci&oacute;n y edici&oacute;n de proyectos. En esta pantalla se muestran los proyectos del per&iacute;odo actual.<br>Los proyectos contienen nombre, descripci&oacute;n de proyecto, carreras asociadas y organizaci&oacute;n beneficiaria </p>
          
          <br><h4><u>Secciones</u></h4>
          <p>Pantalla para la vista, creaci&oacute;n y edici&oacute;n de secciones. En esta pantalla se muestran las secciones del per&iacute;odo actual.<br>Las secciones contiene c&oacute;digo, clase, docente y alumnos</p>
          
          <br><h4><u>Per&iacute;odos</u></h4>
          <p>Pantalla para la vista del per&iacute;odo actual y de los dem&aacute;s per&iacute;odos anteriores.<br>Cada vez que comienza un nuevo per&iacute;odo se debe crear y asignar el per&iacute;odo.</p>

          <br><h4><u>Clases</u></h4>
          <p>Pantalla para la vista, creaci&oacute;n y edici&oacute;n de las clases.<br>Las clases contienen c&oacute;digo de clase y nombre.</p>

          <br><h4><u>Generar Finiquitos</u></h4>
          <p>Pantalla para la generaci&oacute;n del documento final de Finiquito para los alumnos con las horas completadas.</p>

          <br><h4><u>Finiquitados</u></h4>
          <p>Pantalla para la generaci&oacute;n del documento final de Finiquito para los alumnos con las horas completadas que ya se han generado anteriormente.</p>

          <br><h4><u>Profesores</u></h4>
          <p>Pantalla para la vista, creaci&oacute;n y edici&oacute;n de Profesores.<br>Los profesores contienen n&uacute;mero de cuenta, nombre, correo y campus al que pertenece.<br>NOTA: El n&uacute;mero de cuenta del docente es el de Talento Humano(T.H.)</p>

          <br><h4><u>Alumnos</u></h4>
          <p>Pantalla para la vista, creaci&oacute;n y edici&oacute;n de Alumnos.<br>Los alumnos contienen n&uacute;mero de cuenta, nombre, correo, carrera y campus al que pertenece.</p>

          <br><h4><u>Aprobar Horas</u></h4>
          <p>Pantalla para vista de los proyectos con horas pendientes de aprobar.<br></p>

          <br><h4><u>Reportes</u></h4>
          <p>Pantalla para la generaci&oacute;n de distintos reportes.<br></p>
        </div>
      </div>
    </div>
  </div>
</div>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>