<div class="admin container">
  <div class="row">
    <div class="col-lg-15" style="margin: auto; width: 100%;">
      <br>
      <br>
      <div class="panel panel-primary panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title"><b>Bienvenido Admin!</b></h3>
            </div>
          </div>
        </div>
        <!-- 1024 × 683 -->
        <div style="max-height:683px; max-width: 1024px;margin-left: auto;margin-right: auto;">
          <img src="img/campus.jpg" style="width:100%;height:auto;"/>
        </div>
        <h3>Descripcion de Modulos</h3>
        <h4><u>Proyectos</u></h4>
        <p>Pantalla para la vista, creacion y edicion de proyectos, en esta pantalla se muestran los proyectos del periodo actual.<br>Los proyectos contienen nombre, descripcion de proyecto, carreras asociadas y Oraganizacion Beneficiaria </p>
        
        <br><h4><u>Secciones</u></h4>
        <p>Pantalla para la vista, creacion y edicion de secciones, en esta pantalla se muestran las Secciones del periodo actual.<br>Las secciones contiene codigo, clase, docente y alumnos</p>
        
        <br><h4><u>Periodos</u></h4>
        <p>Pantalla para la vista del periodo actual y de los demas periodos anteriores.<br>Cada vez que comienza un nuevo periodo se debe crear y asignar el periodo.</p>

        <br><h4><u>Clases</u></h4>
        <p>Pantalla para la vista, creacion y edicion de las clases.<br>Las clases contienen codigo de clase y Nombre.</p>

        <br><h4><u>Generar Finiquitos</u></h4>
        <p>Pantalla para la generacion del documento final de Finiquito para los alumnos con las horas completadas.</p>

        <br><h4><u>Profesores</u></h4>
        <p>Pantalla para la vista, creacion y edicion de Profesores.<br>Los profesores contienen numero de cuenta, nombre, correo y campus al que pertenece.<br>NOTA: El numero de cuenta del docente es el de Talento Humano(T.H.)</p>

        <br><h4><u>Alumnos</u></h4>
        <p>Pantalla para la vista, creacion y edicion de Alumnos.<br>Los alumnos contienen numero de cuenta, nombre, correo, carrera y campus al que pertenece.</p>

        <br><h4><u>Aprobar Horas</u></h4>
        <p>Pantalla para vista de los proyectos con horas pendientes de aprobar.<br></p>

        <br><h4><u>Reportes</u></h4>
        <p>Pantalla para la generacion de distintos reportes.<br></p>
      </div>
    </div>
  </div>
</div>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>