<br>
<div class="panel-heading">
  <div class="row">
    <div class="col col-xs-6">
      <h3 class="panel-title"><b style="margin-left: 5%">Proyectos Con Horas Pendientes De Aprobar</b></h3>
    </div>
  </div>
</div>

<div ng-show="vm.sectionProjects.length === 0">
  <i style="margin-left: 4%">No hay proyectos pendientes por aprobar</i>
</div>
<div ng-show="vm.sectionProjects.length > 0">
  <tb-table  
    schema="vm.tableSchema" 
    model="vm.sectionProjects"
    on-row-click="vm.goToApproveHours">
  </tb-table>
</div>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>