<tb-search-field obj="vm.searchObj" 
                 results="vm.searchResults" 
                 data="vm.projects" 
        				 get-all="vm.getAll"
        				 loading="vm.loading"
                 auto="true">
</tb-search-field>
<div style="margin-left: auto;margin-right: auto;text-align: center;width: 10%;margin-bottom: 5%">
  <div style="float: left">
    <h5>Periodo:</h5>
    <select id="_periodNumber" name="_periodNumber" ng-model="vm.periodNumber" ng-change="vm.filterByPeriod()" ng-selected="vm.periodNumber">
        <option value="{{_periodNumber}}" ng-repeat="_periodNumber in vm.periodNumbers">{{_periodNumber}}</option>
    </select>
  </div>
  <div style="float: left;">
    <h5>Año:</h5>
    <select id="_periodYear" name="_periodYear" ng-model="vm.periodYear" ng-change="vm.filterByPeriod()" ng-selected="vm.periodYear">
        <option value="{{_periodYear}}" ng-repeat="_periodYear in vm.periodYears">{{_periodYear}}</option>
    </select>
  </div>
</div>
<div ng-if="vm.projects.length === 0 && Role === 'Professor'">
  <h4 style="text-align: center; color: #999;">No tiene secciones en este periodo.</h4>
</div>
<div class="gallery">
	<div class="card" ng-repeat="prj in vm.searchResults" title="{{prj.Description}}">
		<span class="icon-group" ng-show="Role === 'Admin' || Role === 'Professor'">
			<i class="glyphicon glyphicon-remove"
			ng-click="vm.removeProjectClicked(prj)">
			</i>
			<i class="glyphicon glyphicon-pencil" ng-click="vm.goToEdit(prj)"></i>
		</span>
		<div id="body" ng-click="vm.goToProject(prj)">
			<div class="img-area">
				<img src="img/logo.png" alt="Project Image">
			</div>
			<div class="project-info">
				<h4 ng-class="{ 'overflow webkit': prj.Name.length > 100 }">{{prj.Name}}</h4>
			</div>
		</div>
	</div>
</div>
<h1 style="text-align: center; color: #999;" ng-if="vm.searchResults.length === 0">Sin resultados.</h1>
<tb-load-more-btn start-page="1" 
                  page-size="vm.pageSize" 
                  model="vm.projects" 
                  get="vm.get"
                  ng-hide="vm.hideLoadBtn()">
</tb-load-more-btn>
<tb-loading class="main-loader" ng-show="vm.loading"></tb-loading>
<tb-round-btn ng-show="Role === 'Admin' || Role === 'Professor' " ng-click="vm.goToNewProject(prj)">+</tb-round-btn>