<div class="container">
  <div class="col-xs-9 col-sm-7 col-md-7" style="margin-top: 15px;">
    <div>
      <h1>Clase: {{vm.section.Class.Name}}</h1>
      <h2>Docente: {{vm.section.User.Name}}</h2><br>
      <label>C&oacute;digo de Secci&oacute;n: {{vm.section.Code}}</label><br>
      <label>Periodo: {{vm.section.Period.Number}}</label><br>
      <label>Año: {{vm.section.Period.Year}}</label><br><br>
    </div>
    <!-- <ul class="list">
      <li class="row">
        <label class="col-md-4">C&oacute;digo de Secci&oacute;n: {{vm.section.Code}}</label>
      </li>
      <li class="row">
        <label class="col-md-4">Periodo: {{vm.section.Period.Number}}</label>
      </li>
      <li class="row">
        <label class="col-md-4">Año: {{vm.section.Period.Year}}</label>
      </li>
    </ul> -->
    <div style="padding-left: 20px;" ng-show="Role === 'Student'">
      <h3><strong>Horas Acumuladas: {{vm.sectionhours}}</strong></h3>
    </div>
  </div>
  <!-- <img src="img/logo.png"/> -->
</div>

<div ng-if="vm.students.length > 0">
  <div>
    <br><h1 style="margin-left:6%; margin-bottom: 10px;"><strong>Alumnos en &eacute;sta Secci&oacute;n</strong></h1>
  </div>

  <div class="panel-body" style="margin-right: 10%">
    <table class="admin table table-list-search table-hover" style="margin-left: 5%;margin-top: 5px">
      <thead>
        <tr>
            <th>N&uacute;mero de Cuenta</th>
            <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in vm.students">
          <td>{{student.AccountId}}</td>
          <td>{{vm.toTitleCase(student.Name)}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-show="vm.sectionProjects.length === 0">
      <i>No hay proyectos pendientes por aprobar</i>
    </div>
  </div>
</div>

<h1 style="margin-left: 5%; margin-bottom: 20px;margin-top: 20px" class="col-md-10 class-style">Proyectos</h1>
<div ng-if="vm.projects.length === 0">
  <h6 style="margin-left: 5%; margin-bottom: 20px;" class="col-md-10">A&uacute;n no existe proyectos asignados a esta secci&oacute;n, presiona en Agregar Proyecto.</h6>
</div>
<div ng-if="vm.projects.length > 0">
  <tb-table schema="vm.projectsTableSchema" model="vm.projects" on-row-click="vm.goToEditHours"></tb-table>
</div>

<div style="display: flex; justify-content: flex-end; margin: 45px 0; width: 90%;">
  <md-button class="md-raised" style="background: #5bb7b5" ng-click="vm.showSectionProjectModal()">Agregar Proyecto a esta Seccion</md-button>
</div>

<tb-loading class="main-loader" ng-show="vm.projectsLoading || vm.studentsLoading"></tb-loading>