<div class="container">
  <div class="col-xs-9 col-sm-7 col-md-7" style="margin-top: 15px;">
    <div class="row">
      <h1 class="col-xs-4 col-sm-5 col-md-10 class-style">Clase: {{vm.toTitleCase(vm.section.Class.Name)}}</h1>
      <h2 class="col-xs-9 col-sm-8 col-md-5 class-style">Docente: {{vm.toTitleCase(vm.section.User.Name)}}</h2>
    </div>
    <ul class="list">
      <li class="row">
        <label class="col-md-4">C&oacute;digo de Secci&oacute;n: {{vm.section.Code}}</label>
      </li>
      <li class="row">
        <label class="col-md-4">Periodo: {{vm.section.Period.Number}}</label>
      </li>
      <li class="row">
        <label class="col-md-4">Año: {{vm.section.Period.Year}}</label>
      </li>
    </ul>
    <div style="padding-left: 20px;" ng-show="Role === 'Student'">
      <h3><strong>Horas Acumuladas: {{vm.sectionhours}}</strong></h3>
    </div>
  </div>
  <img class="logo-image" src="img/logo.png"/>
</div>

<div ng-if="vm.students.length > 0">
  <div>
    <h1 style="margin-left: 10%; margin-bottom: 20px;" class="col-md-10 class-style">Alumnos en esta Secci&oacute;n</h1>
  </div>

  <div class="panel-body">
    <table class="admin table table-list-search table-hover">
      <thead>
        <tr>
            <th>Numero de Cuenta</th>
            <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in vm.students">
          <td>{{student.AccountId}}</td>
          <td>{{vm.toTitleCase(student.Name)}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-show="vm.sectionProjects.length === 0">
      <i>No hay proyectos pendientes por aprobar</i>
    </div>
  </div>
</div>

<h1 style="margin-left: 10%; margin-bottom: 20px;" class="col-md-10 class-style">Proyectos</h1>
<tb-table schema="vm.projectsTableSchema" model="vm.projects" on-row-click="vm.goToEditHours"></tb-table>
<div style="display: flex; justify-content: flex-end; margin: 45px 0; width: 90%;">
  <md-button class="md-raised" ng-click="vm.showSectionProjectModal()">Agregar Proyecto</md-button>
</div>

<tb-loading class="main-loader" ng-show="vm.projectsLoading || vm.studentsLoading"></tb-loading>